body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Landing page styles */

.landingPage {
  background-image: url('./media/backgroundLanding.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.landingPage_header {
  background-color: #4b7977;
  padding-top: 30px;
  height: 130px;
  width: 100vw;
  align-items: center;
}

.landingPage_header_logo {
  background: url('./media/logo.png') no-repeat;
  background-size: 100% 100%;
  height: 60%;
  max-width: 300px;
  margin: auto;
}

.landingPage_principal {
  color: white;
  align-items: center;
  padding-top: 100px;
  margin: auto;
  max-width: 850px;
}

.landingPage_principal p {
  font-size: 37px;
}

.landingPage_button_div {
  padding-top: 100px;
  padding-bottom: 150px;
  max-width: 260px;
  align-items: center;
  margin: auto;
}

.landingPage_button {
  font-family: Questrial;
  background-color: #eaecc0;
  border: none;
  height: 80px;
  width: 250px;
  border-radius: 10px;
  font-size: 30px;
}

.landingPage_footer {
  margin: auto;
  padding: 3px 25px;
  max-width: 700px;
  background-color: #eaecc032;
}

.landingPage_footer_sabiasque {
  margin-top: 15px;
  width: 160px;
  font-size: 30px;
  font-family: Barrio;
  background-color: white;
  color: black;
  opacity: 1;
}

.landingPage_footer_li {
  font-family: Roboto;
  color: white;
  opacity: 1;
}

/* Poll page styles */

.poll {
  background-image: url('./media/backgroundPoll.jpeg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.poll_questions_container {
  padding-top: 120px;
  max-width: 75%;
  margin: auto;
  font-size: 30px;
  font-family: Comfortaa;
}

.poll_h1 {
  background-color: #eaecc0;
  margin: 0;
  width: 560px;
}

.poll_question {
  margin-bottom: 40px;
}

.poll_question_label {
  margin-right: 50px;
}

.poll_input {
  height: 34px;
  border-radius: 7px;
  font-size: 20px;
  font-family: Comfortaa;
  background: rgba(0,0,0,0);
}

.poll_button_div {
  margin: auto;
  max-width: 250px;
}

.poll_button {
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  width: 250px;
  height: 80px;
  border-radius: 10px;
}

/* Products page styles */

.products {
  background-image: url('./media/backgroundProducts.jpeg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.products_results {
  margin: auto;
  max-width: 50%;
  font-size: 30px;
}

.products_footprint {
  margin: auto;
}

.products_equivalence {
  margin: auto;
}

.products_save_div {
  margin: auto;
  padding: 3px 25px;
  max-width: 80%;
  background-color: rgba(255,255,255,0.4);
}

.products_save_aprovechalo {
  font-size: 40px;
  margin: auto;
  max-width: 800px;
}

.products_save_anual {
  font-size: 30px;
  margin: auto;
  max-width: 1100px;
}

.products_highlight {
  background-color: white;
}

.products_save_button_text {
  font-size: 40px;
  margin: auto;
  max-width: 600px;
}

.products_save_button_div {
  margin: auto;
  max-width: 210px;
}

.products_save_button {
  margin: auto;
  width: 190px;
  height: 65px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
}

.products_save_inspiration {
  font-size: 20px;
  margin: auto;
  max-width: 70%;
}

.products_save_inspiration p{
  background-color: #eaecc0;
}

.products_bbva {
  background: url('./media/bbva_logo.jpg') no-repeat;
  background-size: 100% 100%;
  height: 96px;
  max-width: 300px;
  margin: auto;
}

.products_techito {
  background: url('./media/logo.png') no-repeat;
  background-size: 100% 100%;
  height: 96px;
  max-width: 300px;
  margin: auto;
}
